<a href="https://colab.research.google.com/github/ebrarkiziloglu/My-Basic-ML-Models/blob/main/people_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

random_data_file_path = 'people_1000_records_age&heights&weight.csv'
random_data = pd.read_csv(random_data_file_path)

# dropna drops missing values (think of na as "not available")
random_data = random_data.dropna(axis=0)

random_data.columns

Index(['id', 'name', 'age', 'height', 'weight'], dtype='object')

In [15]:
y = random_data.weight
random_features = ['age', 'height']
X = random_data[random_features]
X.describe()

               age       height
count  1000.000000  1000.000000
mean     54.889000   180.448000
std      25.693439    17.049281
min      11.000000   151.000000
25%      33.750000   166.000000
50%      54.000000   180.000000
75%      78.000000   195.000000
max     100.000000   210.000000

In [19]:
random_data.head()

   id    name  age  height  weight
0   1  name_1   61   155.0   158.0
1   2  name_2   14   166.0    74.0
2   3  name_3   24   162.0   131.0
3   4  name_4   94   159.0   212.0
4   5  name_5   39   194.0   161.0

In [17]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
random_model = DecisionTreeRegressor(random_state=1)

# Fit model
random_model.fit(X, y)

print("Making predictions for the following 5 people:")
print(X.head())
print("The predictions are")
print(random_model.predict(X.head()))

Making predictions for the following 5 people:
   age  height
0   61   155.0
1   14   166.0
2   24   162.0
3   94   159.0
4   39   194.0
The predictions are
[158.  74. 131. 212. 161.]

In [ ]:
from sklearn.metrics import mean_absolute_error